---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="what-does-that-do" description="My work in progress portfolio website!" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm Oli!</h1>
			<p>Welcome to my work in progress portfolio website. It's a bit empty right now!</p>
			<p>In the meantime, why not take a look at <a href="https://github.com/what-does-that-do" target="_blank">my Github</a>?</p>
		</main>
		<Footer />
	</body>
</html>
